<div class="bg-dark text-white p-5 font-sans-serif text-center">
  <h1>お問い合わせ</h1>
  <p>お問い合わせ、不具合の報告などございましたら、以下のTwitterアカウントまでご連絡ください。</p>
  <p>ご感想もお待ちしております！</p>
  <%= link_to 'https://twitter.com/tateno2321201', class: 'btn btn-dark mx-auto mt-3 twitter-color text-white', target: '_blank', rel: 'noopener noreferrer' do %>
    <i class="fab fa-twitter"></i> @tateno2321201
  <% end %>
</div>