<div class="bg-dark text-white p-5 font-sans-serif">
  <h1>プライバシーポリシー</h1>

  <div class="my-5">
    <h2>ユーザーから取得する情報</h2>
    <p>本サービスは、ユーザーから以下の情報を取得します。</p>
    <ul>
      <li>氏名(ニックネームやペンネームも含む)</li>
      <li>メールアドレス</li>
      <li>外部サービスでユーザーが利用するID、その他外部サービスのプライバシー設定によりユーザーが連携先に開示を認めた情報</li>
      <li>Cookie（クッキー）を用いて生成された識別情報</li>
      <li>OSが生成するID、端末の種類、端末識別子等のユーザーが利用するOSや端末に関する情報</li>
      <li>本サービスウェブサイトの滞在時間、入力履歴、購買履歴等の本サービスウェブサイトにおけるユーザーの行動履歴</li>
      <li>ユーザーの音声データ</li>
    </ul>
  </div>

  <div class="my-5">
    <h2>ユーザーの情報を利用する目的</h2>
    <p>本サービスは、ユーザーから取得した情報を、以下の目的のために利用します。</p>
    <ul>
      <li>本サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
      <li>ユーザーの本サービスサービスの利用履歴を管理するため</li>
      <li>本サービスにおけるユーザーの行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>ユーザーからのお問い合わせに対応するため</li>
      <li>本サービスの規約や法令に違反する行為に対応するため</li>
      <li>本サービスサービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>本サービス規約の変更等を通知するため</li>
      <li>以上の他、本サービスサービスの提供、維持、保護及び改善のため</li>
    </ul>
  </div>

  <div class="my-5">
    <h2>安全管理のために講じた措置</h2>
    <p>本サービスが、ユーザーから取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
  </div>

  <div class="my-5">
    <h2>第三者提供</h2>
    <p>本サービスは、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
    但し、次の場合は除きます。</p>
    <ul>
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>本サービスや本サービスサービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
  </div>

  <div class="my-5">
    <h2>アクセス解析ツール</h2>
    <p>本サービスは、ユーザーのアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。Googleアナリティクスについて、詳しくは以下からご確認ください。</p>
    <%= link_to 'Googleアナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: 'link-secondary', target: '_blank', rel: 'noopener noreferrer' %>
  </div>

  <div class="my-5">
    <h2>プライバシーポリシーの変更</h2>
    <p>本サービスは、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
  </div>

  <div class="my-5">
    <h2>お問い合わせ</h2>
    <p>ユーザーの情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のTwitterアカウント宛にダイレクトメールにてください。</p>
    <p>Twitter ID: @tateno2321201</p>
    <p>この場合、必ず、運転免許証のご提示等本サービスが指定する方法により、ご本人からのご請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
  </div>

  <div class="my-5">
    <p>2022年07月22日 制定</p>
  </div>
</div>