<div class="top-wrapper">
  <div class="top-contents">
    <%= image_tag 'logo.png', class: 'img-fluid d-flex mx-auto' %>
    <div class="d-flex justify-content-center p-3">
      <button type="button" class="btn btn-dark">加工する</button>
    </div>
    <div class="d-flex justify-content-center p-3">
      <button type="button" class="btn btn-dark">投稿一覧</button>
    </div>
  </div>
</div>