<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul class="error-message-list">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>