<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %> alert-dismissible show fade" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
