<% if current_page?(root_path) %>
  <footer class="fixed-bottom">
<% else %>
  <footer class="sticky-bottom">
<% end %>
  <div class="container-fluid bg-dark text-white text-center pt-1">
    <div class="row">
      <%= link_to (t 'defaults.terms_of_services'), terms_path, class: 'text-white p-1 col text-decoration-none' %>
      <%= link_to (t 'defaults.privacy_policy'), privacy_policy_path, class: 'text-white p-1 col text-decoration-none' %>
      <%= link_to (t 'defaults.inquiry'), '#', class: 'text-white p-1 col text-decoration-none' %>
    </div>
    <div class="row">
      <div class="text-white text-center col-12">
        <p><%= (t 'defaults.copyright') %></p>
      </div>
    </div>
  </div>
</footer>