<footer class='fotter-bottom bg-dark'>
  <div class='container text-white text-center pt-1'>
    <div class='row'>
      <%= link_to 'プライバシーポリシー', '#', class: 'text-white p-1 col-sm' %>
      <%= link_to '利用規約', '#', class: 'text-white p-1 col-sm' %>
      <%= link_to 'お問合せ', '#', class: 'text-white p-1 col-sm' %>
    </div>
    <div class='row'>
      <div class='text-white text-center col-12'>
        <p>Copyright © 2022. デスボイスチェンジャー</p>
      </div>
    </div>
  </div>
</footer>