<div class="text-center">
  <a href="" data-bs-toggle="modal" data-bs-target="#noticeModal">
    <i class="fas fa-exclamation-circle text-white fa-lg"></i>
  </a>
  <div class="modal fade text-dark" id="noticeModal" tabindex="-1" aria-labelledby="noticeModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>注意事項</h4>
          <p>ブラウザはChrome推奨です。Safariなど一部のブラウザやお使いのデバイスによってはうまく録音できない場合があります。</p>
          <p>声のみを拾って加工できずマイクが拾った音全てにデスボイス加工を施してしまうため、爆撃音のような雑音のみの音声になってしまう場合があります。</p>
          <p>できるだけ静かな環境でお試しください。</p>
          <button type="button" class="btn btn-primary rounded-pill" data-bs-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>
