@import "./customized_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face {
  font-family: 'toronoglitch';
  src: url('../fonts/瀞ノグリッチ黒体H4.otf') format('opentype');
}

body {
  font-family: 'toronoglitch';
}