@import "./customized_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face {
  font-family: 'toronoglitch_sans_H4';
  src: url('../fonts/toronoglitch_sans_H4.woff2') format('woff2');
}

body {
  font-family: 'toronoglitch_sans_H4';
}